{% extends "layout.njk" %}

{% block content %}                          
            <section>
                <h2>
                    My work</h2>
                <article>
                    <figure>
                        <img src="images/article01.jpg" alt="Epic project"/>
                    </figure>
                    <h3>
                        Epic project</h3>
                    <p>
                        Awesome project I did in 2018. It was big experience for me.</p>
                </article>
                <article>
                    <figure>
                        <img src="images/article02.jpg" alt="Another work"/>
                    </figure>
                    <h3>
                        Another work I did</h3>
                    <p>
                        Awesome project I did in 2018. It was big experience for me.</p>
                </article>
                <article>
                    <figure>
                        <img src="images/article03.jpg" alt="Rebrand"/>
                    </figure>
                    <h3>
                        Rebrand of this company</h3>
                    <p>
                        Awesome project I did in 2018. It was big experience for me.</p>
                </article>
            </section>
{% endblock %}