{% extends "layout.njk" %}

{% block content %}                          
            <section>
                <h2>
                    KuzmiCz</h2>
                <p>
                    I'm a beginning junior web developer, who has to learn much thing in the future.</p>
                <p>
                    I haven't done much yet, but I hope that one day I'll be doing epic things and projects!</p>
                <mark>
                    <a class="button" href="https://www.linkedin.com/in/kuzmicz85/">
                        Visit my profile</a>
                </mark>
            </section>
{% endblock %}