{% extends "layout.njk" %}

{% block content %}                          
            <header>
                <article>
                    <h1>
                        Jack Jackson</h1>
                    <p>
                        What a bounder joseph stalin groomed sportacus testosterone trophy freestyle derek griffiths robot moustache,
                        derek griffiths groomed testosterone trophy marques of queensbury freestyle joseph stalin robot moustache
                        Nostrilis tickler sportacus what a boulder groomed?</p>
                    <mark>
                        <a class="button" href="about.html">
                            Learn more</a>
                    </mark>
                </article>
                <aside>
                    <img class="girl" src="images/girl.jpg" alt="lovely girl"/>
                </aside>                          
            </header>
            <section>
                <h2>
                    What I did</h2>
                <article>
                    <a href="work.html">
                        <figure>
                            <img src="images/article01.jpg" alt="Epic project"/>
                        </figure>
                        <h3>
                            Epic project</h3>
                        <p>
                            Awesome project I did in 2018. It was big experience for me.</p>
                    </a>
                </article>
                <article>
                    <a href="work.html">
                        <figure>
                            <img src="images/article02.jpg" alt="Another work"/>
                        </figure>
                        <h3>
                            Another work I did</h3>
                        <p>
                            Awesome project I did in 2018. It was big experience for me.</p>
                    </a>
                </article>
                <article>
                    <a href="work.html">
                        <figure>
                            <img src="images/article03.jpg" alt="Rebrand"/>
                        </figure>
                        <h3>
                            Rebrand of this company</h3>
                        <p>
                            Awesome project I did in 2018. It was big experience for me.</p>
                    </a>
                </article>
            </section>
{% endblock %}