// Rounded borders

@mixin border-rounded($radius){
    box-sizing: border-box;
    border: $radius solid $color-border;
    border-radius: ($radius + 10px);
}

// Flexbox

@mixin flexbox{
    display: flex;
    flex-wrap: wrap;
}